@{
    ViewBag.Title = "Home Page";
}

<h1>Google Analytics demo site</h1>
<h2>This site will be used to test and demo Google Analytics</h2>
<div>
    Use links in header to start gattering info in google analytics.  
</div>